<div class="notification-banner">
    <p>SHOP FOR MORE THAN $500 TO GET DISCOUNT ON FURTHER PRODUCTS WITH "TASTY FOODS &#9786;" 
    </p>
</div>

<style>
    .smiley {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }

    .notification-banner {
        background-color: #FFD700;
        color: #000;
        text-align: center;
        padding: 10px 0;
        font-size: 28px;
        font-weight: bold;
        border-bottom: 2px solid #FFA500;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .notification-banner p {
        margin: 0;
    }
</style>

{% include 'navbar.html' %}